body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-image: url("../images/cabinback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  padding-bottom: 70px;
}
@media (min-width: 768px) {
  body {
    padding-bottom: 110px;
  }
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}
.site-navbar-wrap a {
  color: #fff;
}
.site-navbar-wrap .site-navbar-top {
  font-size: 0.8rem;
}

.site-navbar-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
}
.site-navbar .site-logo {
  font-weight: 200;
  line-height: 0;
  top: -7px;
  position: relative;
  width: 360px;
}
.site-navbar .site-logo a {
  font-weight: 200;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 360px;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none !important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.site-navbar .site-navigation .site-menu > li > a.active {
  color: #fff;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
}
.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #fff !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:first-child
  > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:last-child
  > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: #212529;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: #212529;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper + .site-blocks-cover {
  margin-top: 96px;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar ul li.active a {
  color: #fff;
}
.sticky-wrapper.is-sticky .site-navbar {
  background-color: #007bff;
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child
  > a {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.has-children
  > a {
  padding-right: 20px;
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a:hover {
  color: #fff !important;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a.active {
  color: #fff !important;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.active
  a {
  color: #fff;
}

.navbar-brand {
  margin-right: 0;
}
.navbar-brand img {
  height: 250px;
}

.navbar-dark {
  padding-top: 15px;
  padding-bottom: 35px;
}
.navbar-dark .navbar-text {
  color: #ffffff;
  opacity: 1;
  padding: 0 20px;
  border-right: 1px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.navbar-dark .navbar-text:last-child {
  border-right: 0;
}
@media (max-width: 767px) {
  .navbar-dark {
    padding-bottom: 0;
  }
}

.page-title {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 35px;
    margin-bottom: 14px;
  }
}

.page-description {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  max-width: 465px;
  font-size: 18px;
  margin-bottom: 59px;
}
@media (max-width: 767px) {
  .page-description {
    font-size: 14px;
  }
}

p {
  font-size: 14px;
  margin-bottom: 21px;
  padding-left: 5px;
}

.social-logos {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.copyright {
  font-weight: bold;
}

.footer-social-links .social-link {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  margin-right: 16px;
  transition: all 0.3s ease-in-out;
}
.footer-social-links .social-link:last-child {
  margin-right: 0;
}
.footer-social-links .social-link:hover {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

.modal-newsletter {
  color: #9f9f9f;
  width: 525px;
  font-size: 15px;
}
.modal-newsletter .modal-content {
  padding: 40px 50px;
  border-radius: 1px;
  border: none;
}
.modal-newsletter .modal-header {
  border-bottom: none;
  position: relative;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
  color: #000;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
.modal-newsletter .close {
  position: absolute;
  top: -25px;
  right: -35px;
  color: #c0c3c8;
  text-shadow: none;
  opacity: 0.5;
  font-size: 26px;
  font-weight: normal;
}
.modal-newsletter .close:hover {
  opacity: 0.8;
}
.modal-newsletter .form-control,
.modal-newsletter .btn {
  min-height: 46px;
  text-align: center;
  border-radius: 1px;
}
.modal-newsletter .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border-color: #d5d5d5;
}
.modal-newsletter .form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.modal-newsletter .btn {
  color: #fff;
  background: #353535;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  padding: 6px 20px;
  border: none;
  margin-top: 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  /* font-family: "Raleway", sans-serif; */
  text-transform: uppercase;
}
.modal-newsletter .btn:hover,
.modal-newsletter .btn:focus {
  background: #171717;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-newsletter .form-group {
  padding: 0 20px;
  margin-top: 30px;
}
.modal-newsletter .footer-link {
  margin-top: 20px;
  min-height: 25px;
}
.modal-newsletter .footer-link a {
  color: #353535;
  display: inline-block;
  border-bottom: 2px solid;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.modal-newsletter .footer-link a:hover,
.modal-newsletter .footer-link a:focus {
  text-decoration: none;
  border: none;
}
.hint-text {
  margin: 100px auto;
  text-align: center;
}

.modal-backdrop {
  z-index: -1;
}

/* .btn-link {
  color: #fff;
  text-decoration: none !important;
}
.btn-link:hover {
  text-decoration: none !important;
}
.btn-link:active {
  text-decoration: none !important;
}
.btn-link:focus {
  text-decoration: none !important;
}
.btn-link:visited {
  text-decoration: none !important;
} */

/*# sourceMappingURL=bd-coming-soon.css.map */
